<body>
  <h1>Edinting Book</h1>
  <%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
    <span>Title</span><br>
    <%= f.text_field:title %><br>
    <span>Body</span><br>
    <%= f.text_area:body %><br>
    <%= f.submit 'Update Book'%>
  <% end %>
  <%= link_to 'Show', "/books/#{@book.id}"%> | <%= link_to 'Back', books_path %>
</body>