<body>
  <h2 class = "successfuly"><%= flash[:notice] %></h2>
  <h1>Books</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td>
        <%= link_to 'Show', "/books/#{book.id}" %>
        <%= link_to 'Edit', "/books/#{book.id}/edit" %>
        <%= link_to 'Destroy', destroy_book_path(book.id), method: :delete %>
      </td>
    </tr>
    <% end %>
  </table>
  <h2>New book</h2>
  <%= form_with model:@book, local:true do |f| %>
  
  <!-- errorメッセージの処理 -->
  <% if @book.errors.any? %>
  <h3>eorrorがあります！</h3>
  <ul class = "errors">
    <% @book.errors.full_messages.each do |message| %>
    <li class = "error"><%= message %></li>
    <% end %>
  </ul>
  <% end %>
    
    <span>Title</span><br>
    <%= f.text_field :title %><br>
    <span>Body</span><br>
    <%= f.text_area :body %><br>
    <%= f.submit 'Create Book' %>
  <% end %>
</body>