<body>
  <h2 class = "successfuly"><%= flash[:notice] %></h2>
  <div>
    <h4>Title: <span><%= @book.title %></span></h4>
    <h4>Body: <span><%= @book.body %></span></h4>
  </div>
  
  <div>
    <%=link_to 'Edit', "/books/#{@book.id}/edit" %> | <%= link_to 'Back', books_path %>
  </div>
</body>